<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Lọc</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Size
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">36</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">37</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">38</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">39</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">40</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">41</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">42</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">43</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">44</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">45</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Chất Liệu
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">da cá sấu</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                    value="something">
                                <label class="form-check-label" for="check2">Caosu</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Khoảng Giá
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="0">
                                <span class="input-group-text">To</span>
                                <input type="text" class="form-control" placeholder="9999999999">
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <button class="btn text-center btn-dark btn-outline-light rounded-pill px-3">Lọc</button>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Tất cả</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Nam</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Nữ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Theo tên sản phẩm &#8593;</option>
                            <option>Theo tên sản phẩm &#8595;</option>
                            <option>Theo giá sản phẩm &#8593;</option>
                            <option>Theo giá sản phẩm &#8595;</option>
                            <option>Mặc định</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Product Display Start -->
            <div class="row">
                <!-- Product single display start -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="assets/img/bitit.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Giày Chạy Bộ Nam Biti's
                                Hunter Running HSM003800</a>
                            <p class="text-center mb-0">1.050.000 <span>VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <!-- Product single display end -->
                <!-- Product single display start -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="assets/img/bitit.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <a href="shop-single.html" class="h3 text-decoration-none">Giày Chạy Bộ Nam Biti's
                                Hunter Running HSM003800</a>
                            <p class="text-center mb-0">1.050.000 <span>VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <!-- Product single display end -->

                <!-- Product single display start -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="assets/img/bitit.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Giày Chạy Bộ Nam Biti's
                                Hunter Running HSM003800</a>
                            <p class="text-center mb-0">1.050.000 <span>VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <!-- Product single display end -->

                <!-- Product single display start -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="assets/img/bitit.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Giày Chạy Bộ Nam Biti's
                                Hunter Running HSM003800</a>
                            <p class="text-center mb-0">1.050.000 <span>VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <!-- Product single display end -->

                <!-- Product single display start -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="assets/img/bitit.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Giày Chạy Bộ Nam Biti's
                                Hunter Running HSM003800</a>
                            <p class="text-center mb-0">1.050.000 <span>VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <!-- Product single display end -->

                <!-- Product single display start -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="assets/img/bitit.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
                                                class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Giày Chạy Bộ Nam Biti's
                                Hunter Running HSM003800</a>
                            <p class="text-center mb-0">1.050.000 <span>VNĐ</span></p>
                        </div>
                    </div>
                </div>
                <!-- Product single display end -->


            </div>
            <!-- Product Display End -->
            <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                            tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                            href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->